*{margin: 0;padding: 0;}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   color: #fff;
   fill: currentColor;
   overflow: hidden;
}
.clearfix:after{display: block;content:"";visibility: none;height: 0;clear: both;}
body{background-color: #d4d4d4}
a{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
-webkit-user-select: none;
-moz-user-focus: none;
-moz-user-select: none;
}
/*header样式*/
header{width: 6.4rem;position: relative;}
.top{width: 6.4rem;height: 0.88rem;background-color: #50bbdb;}
.top-inner{width: 6.2rem;margin: 0 auto;overflow: hidden;display: flex;justify-content: flex-start;clear: both;}
.top-inner>a{width: 0.44rem;height: 0.44rem;display:block;text-decoration: none;margin-top: 0.23rem;}
.top-inner>a>.return{width: 0.44rem;height: 0.44rem;}
.top-inner>a>.return>img{width: 100%;display: block;}
.top-inner>p{width:1.46rem;color:#fff;font-size: 0.25rem;margin: 0 auto;margin-top: 0.31rem;}
.banner{width: 6.4rem;position: relative;background-image: url(../images/self-drivingroup-details/white-note.png);background-repeat: repeat-x;background-position: bottom;padding-bottom: 0.05rem;background-size: 0.2rem;}
.banner>img{width: 6.4rem;display: block;}
.banner>.mengban{opacity: 0.5; width: 100%;height: 0.53rem;position: absolute;background:linear-gradient(to right,#000,#fff);top:3.06rem;}
.banner>p{color: #fff;font-size: 0.3rem;position: absolute;left: 0.3rem;top: 3.10rem;}
.line-introduce{width: 6.4rem;display: flex;background-color: #fff;}
.line-introduce>div{width: 5.63rem;margin-top: 0.18rem;}
.line-introduce>div>p>span{display: block;}
.line-introduce>div>p:nth-child(1){width: 100%;font-size: 0.23rem;text-align: center;}
.line-introduce>div>p:nth-child(2){width: 1.3rem;height: 0.65rem;line-height: 0.65rem;display: flex;justify-content: flex-start;margin-left: 0.3rem;}
.line-introduce>div>p:nth-child(2)>span:nth-child(1){font-size: 0.1rem;color: #f0851a;}
.line-introduce>div>p:nth-child(2)>span:nth-child(2){font-size: 0.20rem;color: #f0851a;font-weight: bold}
.line-introduce>div>p:nth-child(2)>span:nth-child(3){font-size: 0.16rem;color: #d9d9d9;}
.line-introduce>a{display: block;text-decoration: none;width: 0.76rem;height: 0.73rem;;margin-top: 0.16rem;border-left: 1px solid #cccccc;}
.icon-change{color: #cccccc;fill: currentColor;width: 0.28rem;height: 0.32rem;display: block;margin: 0 auto;margin-top: 0.18rem;}
/*main样式*/
main{width: 100%;padding-bottom: 0.7rem;}
.travel-time{position: relative; width: 6.18rem;margin: 0 auto;background-color: #fff;border: 1px solid #fff;border-radius: 5px;margin-top: 0.33rem;padding-bottom: 0.22rem;}
.travel-time>p{width:2.67rem;margin-left: 0.2rem;font-size: 0.25rem;margin-top: 0.23rem;}
.travel-time>a{font-size: 0.2rem;display: block;width: 0.64rem;height: 0.30rem;line-height: 0.3rem;text-align: center;text-decoration: none;color: #000;border: 1px solid #ccc;float: left;margin-left: 0.2rem;margin-top: 0.2rem;}
.travel-time>a:nth-child(4){width:0.63rem;color:#e9e9e9;border: none;position: absolute;right: 0;font-size: 0.48rem;height: 1.22rem;line-height: 1.22rem;text-align: center;margin: 0;top: 0;}
.travel-detail{width: 6.4rem;margin-top: 0.36rem;}
.travel-detail>.tavel-detail-nav{background-color: #fff; list-style: none; width: 100%;margin: 0 auto;display: flex;justify-content: space-between;border-bottom: 1px solid #cccccc;}
.travel-detail>.tavel-detail-nav>li{width: 1.7rem;}
.travel-detail>.tavel-detail-nav>li>a{text-align: center; display: block;width: 1.7rem;height: 0.63rem;line-height: 0.63rem;font-size: 0.25rem;text-decoration: none;color: #000;}
.travel-detail>.tavel-detail-nav>li:nth-child(1){border-bottom: 3px solid #50bbdb}
.travel-detail>.tavel-detail-nav>li:nth-child(1)>a{color: #50bbdb}
.user-comments,.guide-introduce,.booking-notes,.travel-brief,.travel-special{position: relative;width: 6.40rem;background-color: #fff;padding-top:0.32rem;}
.travel-special>.decoration-line-left,.travel-brief>.decoration-line-left,.booking-notes>.decoration-line-left,.guide-introduce>.decoration-line-left{width:2.66rem;background-color: #d5d5d5;position: absolute;left: 0;top:0.54rem; height: 1px; }
.travel-special>.decoration-line-right,.travel-brief>.decoration-line-right,.booking-notes>.decoration-line-right,.guide-introduce>.decoration-line-right{width:2.66rem;background-color: #d5d5d5;position: absolute;right: 0;top:0.54rem; height: 1px; }
.user-comments>p,.guide-introduce>p,.travel-brief>p,.travel-special>p,.booking-notes>p{width: 100%;height: 0.46rem;text-align: center;line-height: 0.46rem;font-size: 0.21rem;background-color: #ebebeb;}
.special-article{width: 5.90rem;margin: 0 auto;}
.special-article>ul{width: 100%;padding-top: 0.26rem;padding-bottom: 0.29rem;}
.special-article>ul>li{width: 100%;display: flex;justify-content: flex-start;}
.special-article>ul>li>p{font-size: 0.21rem;}
.special-article>ul>li>p:nth-child(1){font-weight: bold}
.special-article>img{width: 5.78rem;display: block;margin: 0 auto;}
.special-article>img:nth-last-child(1){margin-top: 0.18rem;padding-bottom: 0.18rem;}
.travel-brief,.booking-notes{margin-top: 0.18rem;}
.brief-content{width: 6.4rem;}
.brief-content-inner{width: 6.4rem;list-style: none;}
.brief-content-inner>li{width: 100%;}
.day{width: 5.98rem;padding-top: 0.31rem;position: relative;margin-left: 0.41rem;border-left: 1px dashed #d2d2d2;}
.day>p:nth-child(1){width:4.7rem;font-size: 0.25rem;color: #50bbdb;padding-bottom: 0.1rem;border-bottom: 1px solid #50bbdb;margin-left: 0.21rem;}
.day>p:nth-child(2){border-bottom: 1px dashed #d2d2d2; width: 4.7rem;font-size: 0.2rem;line-height: 0.67rem;height: 0.67rem;margin-left: 0.21rem;display: flex;justify-content: flex-start;}
.day>p:nth-child(2)>span{display: block;}
.day>p:nth-child(2)>span:nth-child(2){margin-left: 0.92rem;}
.day>p:nth-child(3){margin-left: 0.21rem;font-size: 0.20rem;margin-right: 0.31rem;line-height: 0.36rem;padding-top: 0.28rem;width:5.43rem;}
.icon-plane{width: 0.46rem;height: 0.66rem;color: #50bbdb;fill: currentColor;transform: rotate(90deg);position: absolute;top: 0.2rem;left:-0.23rem;}
.day>.decorate-note{position: absolute;width: 0.20rem;height: 0.20rem;left: -0.11rem;top: 1rem;z-index: 11;}
.brief-content-inner>li:nth-child(3)>.day>.pic-cenery,.brief-content-inner>li:nth-child(2)>.day>.pic-cenery{width: 5.43rem;display: block;margin-top: 0.13rem;margin-left:0.21rem; }
.brief-content-inner>li:nth-child(3)>.day>.pic-cenery:nth-last-child(1){padding-bottom: 0.31rem;}
.notes-detail{width: 100%;padding-top: 0.32rem;}
.important-details,.include-money,.self-money,.activity-time,.renting-details,.be-careful{width: 5.76rem;margin: 0 auto;}
.include-money>p,.self-money>p,.activity-time>p,.renting-details>p,.be-careful>p{color:#666666;font-size:0.20rem;line-height: 0.3rem;}
.important-details>p,.include-money>p:first-child,.self-money>p:first-child,.activity-time>p:first-child,.renting-details>p:first-child,.be-careful>p:first-child{width: 100%;font-weight: bold;font-size: 0.25rem;color: #000;}
.important-details{padding-bottom: 0.32rem;}
body .guide-introduce,.user-comments{padding-top: 0;}
body .booking-notes{padding-bottom: 0.52rem;}
.guide-introduce>.decoration-line-left,.user-comments>.decoration-line-left{width:2.66rem;background-color: #d5d5d5;position: absolute;left: 0;top:0.23rem; height: 1px; }
.guide-introduce>.decoration-line-right,.user-comments>.decoration-line-right{width:2.66rem;background-color: #d5d5d5;position: absolute;right: 0;top:0.23rem; height: 1px; }
.guide-introduce>a{width: 5.82rem;display: block;text-decoration: none;margin:0 auto;}
.guide-introduce>a>.guide-name{width:100%;display: flex;justify-content: space-between;height: 0.49rem;line-height: 0.49rem;border-bottom: 1px dashed #ccc}
.guide-introduce>a>.guide-name>span{color: #000;font-size: 0.2rem;}
.guide-introduce>a>.guide-name>span:nth-child(2){font-size: 0.4rem;font-weight: bold;color: #d9d9d9}
.guide-contact{width: 100%;display: flex;justify-content: space-between;margin-top: 0.09rem;padding-bottom: 0.33rem;}
.guide-introduce>a>.guide-contact>img{width: 1rem;height: 1rem;display: block}
.guide-introduce>a>.guide-contact>p{line-height: 0.30rem;font-size: 0.20rem;color: #c1c1c1;width: 4.8rem;padding-top: 0.26rem;}
.comprehension-comments{width: 6.4rem;list-style:none;display: flex;justify-content: space-around;padding-bottom: 0.18rem;border-bottom: 1px solid #d2d2d2}
.comprehension-comments>li>div{display: flex;justify-content: space-around;width: 2.84rem;margin-top: 0.24rem;}
.comprehension-comments>li>div>p{font-size: 0.2rem;line-height: 0.25rem;height: 0.25rem;width: 0.85rem;}
.comprehension-comments>li>div>div{display: flex;justify-content: space-between;width: 1.1rem;}
.comprehension-comments>li>div>div>img{width: 0.2rem;height: 0.2rem;display: block;}
.comprehension-comments>li>p{width: 1.77rem;line-height: 0.25rem;height: 0.25rem;font-size: 0.20rem;margin-top: 0.24rem;text-align: center}
.comprehension-comments>li:nth-child(2)>p{border-left: 1px solid #e9e9e9;border-right: 1px solid #e9e9e9;}
.comments-inner{width: 5.76rem;margin:0 auto;list-style: none;}
.comments-inner>li{width: 100%;}
.comments-detail{width: 100%;clear: both;}
.comments-detail>.subjective>img{width: 0.56rem;height: 0.56rem;display: block;margin-top: 0.26rem;}
.comments-detail>.subjective>.user-name{width: 1.21rem;font-size: 0.20rem;padding-top: 0.44rem;padding-left: 0.14rem;}
.subjective-comments{width: 5rem;display: flex;justify-content: flex-start;} 
.subjective-comments>p{font-size: 0.20rem;padding-left: 0.31rem;padding-top: 0.44rem}
.subjective-comments>p:nth-last-child(1){padding-left: 0.70rem;}
.subjective-comments>.stars{width: 0.89rem;display: flex;justify-content: space-between;padding-top: 0.44rem;margin-left: 0.1rem;}
.subjective-comments>.stars>img{width: 0.16rem;height: 0.16rem;display: block;margin-top: 0.05rem;}
.subjective{width: 100%;display: flex;justify-content: space-between;padding-bottom: 0.17rem;border-bottom: 1px dashed #d2d2d2;}
.objective-comments{width: 100%;padding-top: 0.2rem;}
.objective-comments>p{font-size: 0.2rem;}
.objective-comments>div{display: flex;justify-content: flex-start;}
.objective-comments>div>p{font-size: 0.2rem;}
.objective-comments>div>p:nth-child(1){width: 1.15rem;}
.objective-comments>div>p:nth-child(2){padding-left: 0.14rem;width: 4.84rem;}
.imgcontent{width: 100%;display: flex;justify-content: flex-start;margin-top: 0.17rem;}
.comments-detail>.imgcontent>img{width: 1.05rem;display: block;padding-bottom: 0.14rem;height: 0.64rem;}
.comments-detail>.imgcontent>img:nth-child(2){margin-left: 0.08rem;}
.jiange{height: 0.14rem;background-color: #cccccc;width: 6.4rem;margin-left: -0.32rem}
.replay{width: 6.4rem;background-color: #f4f4f4;}
.replay>p:nth-child(1){font-size: 0.17rem;font-weight: bold;color: #ea581b;height: 0.48rem;line-height: 0.48rem;padding-left: 0.34rem;}
.replay>p:nth-child(2){font-size: 0.17rem;font-weight: bold;color: #333333;line-height: 0.25rem;padding-left: 1.63rem;padding-right: 0.32rem;padding-bottom: 0.27rem}
.replay>div{width: 6.4rem;background-color: #fff;height: 0.3rem;}
/*footer样式*/
footer{width: 6.4rem;position: fixed;bottom: 0;}
.bottom-nav{width: 100%;list-style: none;display: flex;justify-content: flex-start;background-color: #fff}
.bottom-nav>li{height: 0.98rem;}
.bottom-nav>li>a{display: block;text-decoration: none;}
.bottom-nav>li:nth-child(1){border-right: 1px solid #cccccc}
.bottom-nav>li:nth-child(1)>a>.icon-node{display: block;width: 0.32rem;height: 0.3rem;margin: 0 auto;margin-top: 0.20rem;}
.bottom-nav>li:nth-child(2)>a>.icon-node{display: block;width: 0.33rem;height: 0.47rem;margin:0 auto;margin-top: 0.08rem;}
.bottom-nav>li>a>p{display: block;font-size: 0.20rem;color: #000;width: 1.6rem;text-align: center}
.bottom-nav>li:nth-child(3)>a{display: block;color: #fff;font-size: 0.25rem;line-height: 0.98rem;height: 0.98rem;text-align: center;width: 3.2rem;background-color: #50bbdb}


